.controls {
    z-index: 99999;
    position: absolute;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, 0);

    .startBtn {
        margin: 0 10px;
        transform: translate(50%, 0);
        transition: transform .3s ease;

        &.pausedButton {
            transform: translate(0, 0);
        }

    }

    .stopBtn {
        margin: 0 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease;
        background: #bb1d24;

        &.stopVisible {
            opacity: 1;
            pointer-events: all;
        }

    }
}
